<!DOCTYPE html>
<html lang="sr">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        
        <!-- CSS -->

        <link rel="stylesheet" href="css/style.css">


        <!-- Bootrap 4 (CSS, jQuery, JS) -->

        <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
        <script src="bootstrap/jquery/jquery-3.5.1.min.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        

        <!-- Font awesome -->

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">

        <title>Admin</title>

    </head>

    <body>
       
        <div id="navigation">
            <em id="close" class="fas fa-window-close"></em>

            <div id="navigation_content">
                <a href="/">Početna</a>
                <a href="/addProduct">Dodaj proizvod</a>
            </div>
        </div>

        <div class="container-fluid bg-light">
            <div class="container p-0">
                <nav class="navbar navbar-light bg-light p-0 pt-4 pb-4 m-0">
                    <em id="hamburger" class="fas fa-bars ml-auto"></em>
                </nav>
            </div>
        </div>


        <div class="container mt-5">

            <%if (message) { %>
                <div class="mb-5" id="message">
                    <%= message %>
                </div>
            <% } %>

            <table id="table_of_products" class="table table-striped text-center" aria-label="">
                <thead>
                <tr>
                    <th scope="col">Naziv</th>
                    <th scope="col">Cena</th>
                    <th scope="col">Izmeni</th>
                    <th scope="col">Obriši</th>
                </tr>
                </thead>
                <tbody>
                    <% allProducts.forEach(function(product){ %>
                        <tr>
                            <td><%= product.naziv %></td>
                            <td><%= product.cena %> RSD</td>
                            <td>
                                <a href="<%= /changeProduct/ + product.id %>">
                                    <button class="btn btn-primary">Izmeni</button>
                                </a>   
                            </td>
                            <td>
                                <a href="<%= /deleteProduct/ + product.id %>">
                                    <button class="btn btn-danger" onclick="return confirm('Da li ste sigurni da želite da obrišete proizvod?')">Obriši</button>
                                </a>   
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

        </div>

        <script>

            $(document).ready(function() 
            {
                $("#message").delay(3500).fadeOut("slow");
            });


            let hamburger = document.getElementById("hamburger");
            let navigation = document.getElementById("navigation");
            let close = document.getElementById("close");

            hamburger.addEventListener("click", function()
            {
                navigation.style.marginLeft = "0px";
                    
                setTimeout(function()
                {
                    document.body.style.height = "100vh";
                    document.body.style.overflowY = "hidden";
                }, 500);
                    
            });

            close.addEventListener("click", function()
            {
                navigation.style.marginLeft = "-100%";
                document.body.style.height = "";
                document.body.style.overflowY = "";
            });

        </script>
    
    </body>

</html>